.hero {
  margin: -10px -10px 0 -10px;
  display: flex;
  flex-direction: column-reverse;
  max-height: 600px;
}

.hero img.teaser-image {
  object-fit: contain;
  width: 100%;
}

.hero > div.floater {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 70%;
  min-height: 180px;
  align-content: center;
  align-self: center;
  padding: 3.5em 2em 2em;
  background-color: white;
}

.hero > .floater > div {
  text-align: left;
  padding: 25px;
}

.inner-content > a.action-links {
  background-color: #ffea00;
  text-decoration: none;
  color: currentColor;
  padding: 12px;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 1em 2.5em;
  font-weight: 600;
  color: #202020;
}

.featured {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1136px;
  height: 495px;
  background-color: #ebebeb;
  margin: 0 auto;
}

.featured .teaser-title {
  margin-top: 27px;
  margin-bottom: 13.5px;
  font-weight: 400;
  font-size: 36px;
}

.featured .teaser-description {
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 1.75em;
}

.featured > img.teaser-image {
  overflow: hidden;
  object-fit: cover;
  width: 710px;
}

.featured > .floater {
  width: 426px;
  background-color: #ebebeb;
  padding: 2.5em 2em 2em;
}

.featured > .floater > div {
  margin: 25px;
}

div.pre-title {
  font-weight: 700;
}

