## Change Name to .env
REACT_APP_GRAPHQL_ENDPOINT=/content/_cq_graphql/global/endpoint.json
REACT_APP_PUBLIC_URI=<AUTHER URL>
REACT_APP_PUBLISHER=<PUBLISH URL>
REACT_APP_SITE=<NAME OF YOUR SITE>
REACT_APP_REFERENCE_DEMO=aem-demo-assets
REACT_APP_CONTENT_PATH=/en/index
REACT_APP_TOKEN=<TOKEN FROM DEVELOPER CONSOLE>