
  .menu-wrap {
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #202020;
    line-height: 1.5;
    display: flex;
    flex: .1 0 auto;
    align-self: center;
  }

  .menu-wrap > .list-item {
    text-decoration: none;
    
    padding: 10px;
    color:#202020;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 17px;
    text-decoration: none;
  }

  .menu-wrap > .list-item:hover {
    background-color: #ffea00;
  }

  .menu-wrap > .list-item:active {
    background-color: #ffea00;
  }

  @media (max-width: 1024px) {
    .menu-wrap {
      display: none;
      size: 45px;
      flex-direction: column;
    }

  }
    