.adventure-detail {
  display: flex;
  max-width: 1136px;
  margin: auto;
  width: 100%;
  flex-direction: column;
}

.adventure-detail-side-rail {
    width: 30%;
}

.adventure-detail-side-rail > ul.xf-side-rail-list {
  list-style: none;
  display: block;
  padding: 0;
}

.adventure-detail-body {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.adventure-detail-side-rail-list > li {
  height: 120px;
  width: 100%;
  margin: 0;
  align-self: start;
  border-left-style: solid;
  border-left-color: lightgray;
  border-left-width: 5px;
  margin-bottom: 20px;
  padding-left: 15px;
}

.adventure-detail-side-rail-list-title {
  display: block;
  color: #202020;
  text-transform: uppercase;
  padding: 5px;
  padding-top: 20px;
}

.adventure-detail-side-rail-list-activity {
  color: #696969;
  font-size: 9pt;
  padding: 5px;
  text-transform: uppercase;
}

.adventure-detail-side-rail > ul.adventure-detail-side-rail-list {
  list-style: none;
  display: block;
  padding: 0;
}

.adventure-detail-side-rail-list > li {
  height: 120px;
  width: 100%;
  margin: 0;
  align-self: start;
  border-left-style: solid;
  border-left-color: lightgray;
  border-left-width: 5px;
  margin-bottom: 20px;
}

.adventure-detail-tabs {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: white;
    margin: 0 auto;
    padding:0;
} 

.adventure-detail-tabs > li > button {
    margin-right: 20px;
    background-color: white;
    padding: 8px 15px 8px 15px;
    margin-left: 0;
    border: 0;
}

.adventure-detail-tabs > li > button.active {
    color: white;
    background-color: black;
    font-weight: 600;
  }

.adventure-detail-description {
    background-color: white;
    width:70%;
    line-height: 40px;
}

.adventure-detail-description-body > img {
    object-fit: contain;
    width:100%;
}

.overview {
    display: contents;
}

.itinerary {
    display:none;
}

.what-to-bring {
    display: none;
}

.adventure-detail-description-body > span > ul > li::marker {
    content: "\1F95E";
    font-family: wknd-icon-font!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: .55em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: -0.25em;
    left: -0.75em;
}
