* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: left;
  color: #202020;
  line-height: 1.5;
  display: block;
}

.login {
  grid-area: login;
  background-color: #000;
  color: #fff;
  padding: 0px;
  text-align: center;
  font-size: 12px;
}

.main-container {
  max-width: 1023px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height:194px;
  justify-content: space-between;
}
.main-body {
  display: flex;
  flex-direction: column;
  max-width: 1680px;
  margin: 0 auto;
}

.block {
  display: flex;
  max-height:600px;
  overflow: hidden;
  margin: 0 0 50px 0;
  padding: 0px;
  position: relative;
  align-items: center;
}

.logo {
  flex:  4 0 auto;
  align-self: center;
}
form {
  color: #555;
  flex: .2 0 auto;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: auto;
  margin-right: 0px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 16px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.hamburger {
  display: none;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display:flex;
    padding: 10px;
  }

  .menu-wrap {
    display: none;
  }

  .main-container {
    height:117px;
    padding-right: 10px;
    padding-left: 10px;
  }

}