.underline {
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    background-color: #fff;
  }

  .underline:after {
    display: block;
    width: 84px;
    padding-top: 8px;
    content: "";
    border-bottom: 2px solid #ffea00;
  }