.underline {
    position: relative;
    width: 100%;
    max-width: 1136px;
    background-color: #fff;
    margin: 0 auto;
    min-height: 70px;
  }

  .underline:after {
    display: block;
    width: 84px;
    padding-top: 8px;
    content: "";
    border-bottom: 2px solid #ffea00;
  }